.shoppingFavorites {
  background-color: #ff7100;
  /* position: relative; */
  padding: 30px;
  border-radius: 100px;
  position: fixed;
  bottom: 40px;
  right: 10%;
  z-index: 1;
}

.shoppingFavorites:active {
  box-shadow: 0 4px 4px gray;
}

.cartIcon {
  color: white;
}

.cartCount {
  display: flex;
}

.shoppingFavorites > p {
  position: absolute;
  top: 0;
  right: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  z-index: 1;
  width: 24px;
  height: 24px;
  border: 1px solid #ffffff;
  border-radius: 50%;
  box-sizing: border-box;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  color: #ffffff;
  background-color: #ff792a;
}
