.goRegister {
  font-size: 0.8rem;
}

.logo {
  width: 20%;
  border-radius: 35px;
}

input {
  border: none;
}

input:focus {
  background-color: #ff7100;
}

input::placeholder {
  color: inherit;
}
input,
select,
textarea {
  color: difference;
}
button {
  border-radius: 20px;
}

button:hover {
  color: #ff7100;
}
