html {
  font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO",
    "sans-serif";
  word-wrap: break-word;
  display: block;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll !important;
  padding: 0px !important;
  display: block;
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 100%;
  text-size-adjust: 100%;
  word-break: keep-all;
  border: 0 none;
}

span {
  border: 0 none;
}

@media only screen and (min-width: 769px) {
  body {
    min-width: 1200px;
    background-color: #fff;
  }
}
