:root {
  --clr-primary: #ff7100;
  --clr-primary-dark: #df6500;
  --clr-primary-light: #fcc191;
  --clr-grey-1: #102a42;
  --clr-grey-5: #617d98;
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}

html {
  font-family: "SpoqaHanSans", "Noto Sans SC", "APPLE SD Gothic NEO",
    "sans-serif";
  word-wrap: break-word;
  display: block;
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  overflow-y: scroll !important;
  padding: 0px !important;
  display: block;
  position: relative;
  min-width: 320px;
  margin: 0 auto;
  font-size: 100%;
  line-height: 100%;
  text-size-adjust: 100%;
  word-break: keep-all;
  border: 0 none;
}

span {
  border: 0 none;
}

@media only screen and (min-width: 769px) {
  body {
    min-width: 1200px;
    background-color: #fff;
  }
}
